button {
  height: 60px;
  width: 60px;
}

.num-container {
  display: flex;
  flex-wrap: wrap-reverse;
  width: 180px;
}

.operator-container {
  display: flex;
  flex-direction: column-reverse;
}

.calculator,
.function-buttons,
.left-part,
.below-section,
.calculator {
  display: flex;
}

.left-part,
.calculator {
  flex-direction: column;
}

.calculator {
  height: 420px;
  width: 240px;
}

