button {
  height: 80px;
  width: 80px;
  margin: 5px;
  border-radius: 20px;
  border: 0;
  font-size: 25px;
}

.num-container {
  display: flex;
  flex-wrap: wrap-reverse;
  width: 270px;
}


.operator-container {
  display: flex;
  flex-direction: column-reverse;
}


.calculator,
.function-buttons,
.left-part,
.below-section,
.calculator {
  display: flex;
}

.left-part,
.calculator {
  flex-direction: column;
}

.display {
  text-align: end;
  font-size: 60px;
  margin-top: 40px;
  padding-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.calculator {
  border: 5px solid #d2d2d5;
  padding: 20px;
  width: 360px;
  border-radius: 25px;
  margin-top: 20px;
}

body {
  display: flex;
  justify-content: center;
}

.function-buttons button,
.operator {
  background-color: #ffedc4;;
  color: #bf9236;
}

.equal {
  background-color: #fdc13c;
  color: #cd9218;
}
