button {
  height: 70px;
  width: 70px;
  margin: 5px;
  border-radius: 20px;
  border: 0;
  font-size: 25px;
}

.num-container {
  display: flex;
  flex-wrap: wrap-reverse;
  width: 240px;
}

.operator-container {
  display: flex;
  flex-direction: column-reverse;
}

.calculator,
.function-buttons,
.left-part,
.below-section,
.calculator {
  display: flex;
}

.left-part,
.calculator {
  flex-direction: column;
}

.display {
  text-align: end;
  position: absolute;
  bottom: 0;
  right: 0;
}

.display-bezel {
  height: 120px;
  position: relative;
  font-size: 60px;
  padding-right: 10px;
  margin: 20px 5px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #a4caec;
}

.calculator {
  border: 5px solid #404990;
  padding: 20px;
  width: 320px;
  border-radius: 25px;
  margin-top: 20px;
}

body {
  display: flex;
  justify-content: center;
}

.function-buttons button,
.operator {
  background-color: #c4ecff;
  color: #364bbf;
}

.function-buttons button:hover,
.operator:hover {
  background-color: #7dcbf0;
}

.function-buttons button:active,
.operator:active {
  background-color: #2fb2f0;
}

.equal {
  background-color: #3cc7fd;
  color: #1834cd;
}

.equal:hover {
  background-color: #0bb5f8;
  color: #1834cd;
}

.equal:active {
  background-color: #3ca3fd;
  color: #1834cd;
}
