button {
  height: 60px;
  width: 60px;
  margin: 5px;
}

.num-container {
  display: flex;
  flex-wrap: wrap-reverse;
  width: 210px;
}

.operator-container {
  display: flex;
  flex-direction: column-reverse;
}

.calculator,
.function-buttons,
.left-part,
.below-section,
.calculator {
  display: flex;
}

.left-part,
.calculator {
  flex-direction: column;
}

.display {
  text-align: end;
  font-size: 50px;
  margin-top: 20px;
}
.calculator {
  border: 1px solid black;
  padding: 20px;
  width: 280px;
}

